In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt 
import seaborn as sns

# Subsample regression develop

In [3]:
model_data = pd.read_csv('model_data.csv')
model_data['Base'] = 1

In [32]:
from LinearRegression import LR

y_name = 'TBCA Oxota'
X_names = ['Volume', 'Media coverage', 'WOM +ve', 'Experience +ve', 'Base']


def regressor(df, y, X): 
    reg = LR(fit_intercept=False) 
    reg.fit(df[X_names], df[y_name])
    #return reg.score(df[X_names], df[y_name])
    return pd.Series(reg.coef_, index=X_names)

betas = model_data.groupby('Buy m.o. Oxota').apply(regressor, y=y_name, X=X_names)

midx = [np.array(model_data['Buy m.o. Oxota']), np.array(model_data.index)]

betas

#print(model_data[X_names].set_index(midx).mul(betas, level=0).sum()) #.to_csv('t3.csv')

#model_data[X_names].set_index([model_data.index, model_data['Buy m.o. Oxota']]).mul(betas, level=1)

                  Volume  Media coverage  WOM +ve  Experience +ve      Base
Buy m.o. Oxota
0               0.007241        0.376702  0.24706        0.122140  0.447019
1              -0.024407        0.265133  0.27114        0.037035  0.684429

In [5]:
r_check = LR(fit_intercept=False)
r_check.fit(model_data.loc[model_data['Buy m.o. Oxota'] == 1, X_names], 
            model_data.loc[model_data['Buy m.o. Oxota'] == 1, y_name])
r_check.coef_

array([-0.02440695,  0.26513319,  0.27114008,  0.03703461,  0.68442945])

In [54]:
from LinearRegression import SubSampleRegression

ssreg = SubSampleRegression(0.05) 
ssreg.Fit(model_data, X_names, y_name, 'Buy m.o. Oxota')

ssreg.betas

     Volume Media coverage  WOM +ve Experience +ve      Base
0  0.007241       0.376702  0.24706        0.12214  0.447019
1 -0.024407       0.265133  0.27114       0.037035  0.684429

In [7]:
ssreg.p_values

     Volume Media coverage   WOM +ve Experience +ve Base
0  0.491591       0.003635  0.038014       0.044639  0.0
1  0.061273       0.016449  0.000556       0.703303  0.0

In [8]:
ssreg.betas_significant

  Volume Media coverage  WOM +ve Experience +ve      Base
0      0       0.376702  0.24706        0.12214  0.447019
1      0       0.265133  0.27114              0  0.684429

In [9]:
ssreg.Contributions(model_data)#.to_csv('t4.csv')

    Volume Media coverage  WOM +ve Experience +ve      Base
0      0.0            0.0      0.0            0.0  0.447019
1      0.0            0.0      0.0            0.0  0.447019
2      0.0            0.0      0.0        0.12214  0.447019
3      0.0            0.0      0.0            0.0  0.447019
4      0.0            0.0      0.0            0.0  0.447019
..     ...            ...      ...            ...       ...
415    0.0            0.0  0.27114              0  0.684429
416    0.0            0.0      0.0              0  0.684429
417    0.0            0.0  0.27114              0  0.684429
418    0.0            0.0      0.0            0.0  0.447019
419    0.0            0.0  0.27114              0  0.684429

[420 rows x 5 columns]

In [10]:
ssreg.Predict(model_data) #.to_csv('t5.csv')

0      0.447019
1      0.447019
2       0.56916
3      0.447019
4      0.447019
         ...
415     0.95557
416    0.684429
417     0.95557
418    0.447019
419     0.95557
Length: 420, dtype: object

In [11]:
ssreg.Score(model_data, 'TBCA Oxota')

0.10910026910418835

In [24]:
ssreg = SubSampleRegression(0.05) 
ssreg.Fit(model_data, X_names, y_name)

pd.DataFrame(ssreg.betas) #.to_csv('t6.csv')

                       0
Volume         -0.002406
Media coverage  0.332933
WOM +ve         0.262338
Experience +ve  0.120654
Base            0.494826

In [50]:
ssreg = SubSampleRegression(0.05) 
ssreg.Fit(model_data, X_names, y_name)

ssreg.betas

Volume           -0.002406
Media coverage    0.332933
WOM +ve           0.262338
Experience +ve    0.120654
Base              0.494826
dtype: float64

In [20]:
r_ch = LR(fit_intercept=False)
r_ch.fit(model_data.loc[:, X_names], model_data.loc[:, y_name])
r_ch.coef_

TypeError: super(type, obj): obj must be an instance or subtype of type

In [26]:
ssreg.Contributions(model_data)

     Volume  Media coverage   WOM +ve  Experience +ve      Base
0       0.0             0.0  0.000000        0.000000  0.494826
1       0.0             0.0  0.000000        0.000000  0.494826
2       0.0             0.0  0.000000        0.120654  0.494826
3       0.0             0.0  0.000000        0.000000  0.494826
4       0.0             0.0  0.000000        0.000000  0.494826
..      ...             ...       ...             ...       ...
415     0.0             0.0  0.262338        0.120654  0.494826
416     0.0             0.0  0.000000        0.000000  0.494826
417     0.0             0.0  0.262338        0.120654  0.494826
418     0.0             0.0  0.000000        0.000000  0.494826
419     0.0             0.0  0.262338        0.120654  0.494826

[420 rows x 5 columns]

In [61]:
ssreg.Predict(model_data)

0      0.494826
1      0.494826
2      0.615480
3      0.494826
4      0.494826
         ...
415    0.877819
416    0.494826
417    0.877819
418    0.494826
419    0.877819
Length: 420, dtype: float64

In [62]:
ssreg.Score(model_data, y_name)

0.11488887187629016

# getters Test

In [55]:
bts = ssreg.GetBetas()
bts

     Volume Media coverage  WOM +ve Experience +ve      Base
0  0.007241       0.376702  0.24706        0.12214  0.447019
1 -0.024407       0.265133  0.27114       0.037035  0.684429

In [56]:
pvs = ssreg.GetPValues()
pvs

     Volume Media coverage   WOM +ve Experience +ve Base
0  0.491591       0.003635  0.038014       0.044639  0.0
1  0.061273       0.016449  0.000556       0.703303  0.0

In [74]:
res = pd.concat([bts, pvs], axis=1)
res.columns = [['Beta'] * len(bts.columns) + ['P-value'] * len(pvs.columns), res.columns]

In [73]:
pd.MultiIndex.from_arrays(
        [['Beta'] * len(bts.columns) + ['P-value'] * len(pvs.columns), list(bts.columns) + list(pvs.columns)]
    )

MultiIndex([(   'Beta',         'Volume'),
            (   'Beta', 'Media coverage'),
            (   'Beta',        'WOM +ve'),
            (   'Beta', 'Experience +ve'),
            (   'Beta',           'Base'),
            ('P-value',         'Volume'),
            ('P-value', 'Media coverage'),
            ('P-value',        'WOM +ve'),
            ('P-value', 'Experience +ve'),
            ('P-value',           'Base')],
           )

# Second run test

In [3]:
model_data = pd.read_csv('model_data.csv')
model_data['Base'] = 1

In [4]:
from LinearRegression import LR

y_name = 'TBCA Oxota'
X_names = ['Volume', 'Media coverage', 'WOM +ve', 'Experience +ve', 'Base']


def regressor(df, y, X): 
    reg = LR(fit_intercept=False) 
    reg.fit(df[X_names], df[y_name])
    #return reg.score(df[X_names], df[y_name])
    return pd.Series(reg.coef_, index=X_names)

betas = model_data.groupby('Buy m.o. Oxota').apply(regressor, y=y_name, X=X_names)

midx = [np.array(model_data['Buy m.o. Oxota']), np.array(model_data.index)]

betas

                  Volume  Media coverage  WOM +ve  Experience +ve      Base
Buy m.o. Oxota
0               0.007241        0.376702  0.24706        0.122140  0.447019
1              -0.024407        0.265133  0.27114        0.037035  0.684429

In [32]:
from LinearRegression import SubSampleRegression

ssreg = SubSampleRegression(0.05, second_run=False) 
ssreg.Fit(model_data, X_names, y_name)

(ssreg.betas_significant, ssreg.p_values)

(Volume            0.000000
 Media coverage    0.332933
 WOM +ve           0.262338
 Experience +ve    0.120654
 Base              0.494826
 dtype: float64,
 Volume            0.771260
 Media coverage    0.000132
 WOM +ve           0.000060
 Experience +ve    0.013570
 Base              0.000000
 dtype: float64)

In [50]:
y_name = 'TBCA Oxota'
X_names = ['Volume', 'Media coverage', 'WOM +ve', 'Experience +ve', 'Base']

ssreg = SubSampleRegression(0.05, second_run=True) 
ssreg.Fit(model_data, X_names, y_name)

(ssreg.betas_significant, ssreg.p_values)

(Volume            0.000000
 Media coverage    0.332327
 WOM +ve           0.262254
 Experience +ve    0.119213
 Base              0.486211
 dtype: float64,
 Volume            0.000000
 Media coverage    0.000132
 WOM +ve           0.000060
 Experience +ve    0.014107
 Base              0.000000
 dtype: float64)

In [63]:
from LinearRegression import LR

def DoSplitReg(model_data, X_names, y_name, s_name):
    def regressor(df, y, X): 
        reg = LR(fit_intercept=False) 
        reg.fit(df[X_names], df[y_name])
        return pd.Series(reg.coef_, index=X_names)

    return model_data.groupby(s_name).apply(regressor, y=y_name, X=X_names)

C подвыборками

In [66]:
y_name = 'TBCA Oxota'
X_names = ['Volume', 'Media coverage', 'WOM +ve', 'Experience +ve', 'Base']

ssreg = SubSampleRegression(0.05, second_run=True) 
ssreg.Fit(model_data, X_names, y_name, 'Buy m.o. Oxota')

pd.concat([ssreg.betas, ssreg.p_values, ssreg.betas_significant])

  Volume Media coverage   WOM +ve Experience +ve      Base
0    0.0       0.376988  0.243146       0.126249  0.472802
1    0.0       0.252867  0.274083            0.0  0.610092
0    0.0       0.003578  0.040726        0.03688       0.0
1    0.0       0.021196  0.000255            0.0       0.0
0    0.0       0.376988  0.243146       0.126249  0.472802
1    0.0       0.252867  0.274083            0.0  0.610092

In [68]:
DoSplitReg(model_data, ['Media coverage', 'WOM +ve', 'Base'], 
           y_name, 'Buy m.o. Oxota')

                Media coverage   WOM +ve      Base
Buy m.o. Oxota
0                     0.396660  0.304880  0.516348
1                     0.252867  0.274083  0.610092