In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt 
import seaborn as sns

import json

from MediaContributions import MediaContributionCalculator

# Subsample regression develop

In [3]:
model_data = pd.read_csv('model_data.csv')
model_data['Base'] = 1

In [4]:
from LinearRegression import LR

y_name = 'TBCA Oxota'
X_names = ['Volume', 'Media coverage', 'WOM +ve', 'Experience +ve', 'Base']


def regressor(df, y, X): 
    reg = LR(fit_intercept=False) 
    reg.fit(df[X_names], df[y_name])
    #return reg.score(df[X_names], df[y_name])
    return pd.Series(reg.coef_, index=X_names)

betas = model_data.groupby('Buy m.o. Oxota').apply(regressor, y=y_name, X=X_names)

midx = [np.array(model_data['Buy m.o. Oxota']), np.array(model_data.index)]

betas

#print(model_data[X_names].set_index(midx).mul(betas, level=0).sum()) #.to_csv('t3.csv')

#model_data[X_names].set_index([model_data.index, model_data['Buy m.o. Oxota']]).mul(betas, level=1)

                  Volume  Media coverage  WOM +ve  Experience +ve      Base
Buy m.o. Oxota
0               0.007241        0.376702  0.24706        0.122140  0.447019
1              -0.024407        0.265133  0.27114        0.037035  0.684429

In [7]:
r_check = LR(fit_intercept=False)
r_check.fit(model_data.loc[model_data['Buy m.o. Oxota'] == 1, X_names], 
            model_data.loc[model_data['Buy m.o. Oxota'] == 1, y_name])
r_check.coef_

array([-0.02440695,  0.26513319,  0.27114008,  0.03703461,  0.68442945])

In [53]:
from LinearRegression import SubSampleRegression

ssreg = SubSampleRegression(0.05) 
ssreg.Fit(model_data, X_names, y_name, 'Buy m.o. Oxota')

ssreg.betas

     Volume Media coverage  WOM +ve Experience +ve      Base
0  0.007241       0.376702  0.24706        0.12214  0.447019
1 -0.024407       0.265133  0.27114       0.037035  0.684429

In [54]:
ssreg.p_values

     Volume Media coverage   WOM +ve Experience +ve Base
0  0.491591       0.003635  0.038014       0.044639  0.0
1  0.061273       0.016449  0.000556       0.703303  0.0

In [55]:
ssreg.betas_significant

  Volume Media coverage  WOM +ve Experience +ve      Base
0      0       0.376702  0.24706        0.12214  0.447019
1      0       0.265133  0.27114              0  0.684429

In [56]:
ssreg.Contributions(model_data)#.to_csv('t4.csv')

    Volume Media coverage  WOM +ve Experience +ve      Base
0      0.0            0.0      0.0            0.0  0.447019
1      0.0            0.0      0.0            0.0  0.447019
2      0.0            0.0      0.0        0.12214  0.447019
3      0.0            0.0      0.0            0.0  0.447019
4      0.0            0.0      0.0            0.0  0.447019
..     ...            ...      ...            ...       ...
415    0.0            0.0  0.27114              0  0.684429
416    0.0            0.0      0.0              0  0.684429
417    0.0            0.0  0.27114              0  0.684429
418    0.0            0.0      0.0            0.0  0.447019
419    0.0            0.0  0.27114              0  0.684429

[420 rows x 5 columns]

In [57]:
ssreg.Predict(model_data) #.to_csv('t5.csv')

0      0.447019
1      0.447019
2       0.56916
3      0.447019
4      0.447019
         ...
415     0.95557
416    0.684429
417     0.95557
418    0.447019
419     0.95557
Length: 420, dtype: object

In [58]:
ssreg.Score(model_data, 'TBCA Oxota')

0.1091002691041888

In [59]:
ssreg = SubSampleRegression(0.05) 
ssreg.Fit(model_data, X_names, y_name)

pd.DataFrame(ssreg.betas) #.to_csv('t6.csv')

                       0
Volume         -0.002406
Media coverage  0.332933
WOM +ve         0.262338
Experience +ve  0.120654
Base            0.494826

In [12]:
r_ch = LR(fit_intercept=False)
r_ch.fit(model_data.loc[:, X_names], model_data.loc[:, y_name])
r_ch.coef_

array([-0.00240626,  0.33293325,  0.26233848,  0.12065441,  0.494826  ])

In [60]:
ssreg.Contributions(model_data)

     Volume  Media coverage   WOM +ve  Experience +ve      Base
0       0.0             0.0  0.000000        0.000000  0.494826
1       0.0             0.0  0.000000        0.000000  0.494826
2       0.0             0.0  0.000000        0.120654  0.494826
3       0.0             0.0  0.000000        0.000000  0.494826
4       0.0             0.0  0.000000        0.000000  0.494826
..      ...             ...       ...             ...       ...
415     0.0             0.0  0.262338        0.120654  0.494826
416     0.0             0.0  0.000000        0.000000  0.494826
417     0.0             0.0  0.262338        0.120654  0.494826
418     0.0             0.0  0.000000        0.000000  0.494826
419     0.0             0.0  0.262338        0.120654  0.494826

[420 rows x 5 columns]

In [61]:
ssreg.Predict(model_data)

0      0.494826
1      0.494826
2      0.615480
3      0.494826
4      0.494826
         ...
415    0.877819
416    0.494826
417    0.877819
418    0.494826
419    0.877819
Length: 420, dtype: float64

In [62]:
ssreg.Score(model_data, y_name)

0.11488887187629016

In [63]:
ssreg.betas

Volume           -0.002406
Media coverage    0.332933
WOM +ve           0.262338
Experience +ve    0.120654
Base              0.494826
dtype: float64

In [64]:
ssreg.p_values

Volume            0.771260
Media coverage    0.000132
WOM +ve           0.000060
Experience +ve    0.013570
Base              0.000000
dtype: float64

In [46]:
ssreg.betas.where(ssreg.p_values < 0.01, 0)

Volume            0.000000
Media coverage    0.332933
WOM +ve           0.262338
Experience +ve    0.000000
Base              0.494826
dtype: float64

In [65]:
ssreg.betas_significant

Volume            0.000000
Media coverage    0.332933
WOM +ve           0.262338
Experience +ve    0.120654
Base              0.494826
dtype: float64